*{
    margin: 0;
}
@font-face{
    font-family:'game';
    src: url(../ttf/font1.ttf);
}
@font-face{
    font-family:'disney';
    src: url(../ttf/font2.ttf);
}
body{
    background: black;
}

/* Home  #4c8ca7*/

#head{
    background: -webkit-linear-gradient(top ,#4c8ca7 ,#f96e69);
    width: 70%;
    height: 500px;
    position: relative;
    font-family: 'game';
    margin-left: 200px;
    margin-top: 100px;
    border: solid 5px white;
}
#head h1{
    font-size: 60px;
    padding-top: 100px;
    font-weight: 100;
    position: absolute;
    padding-left: 230px;
}
#head p{
    position: absolute;
    font-family: 'disney';
    margin-top: 170px;
    margin-left: 370px;
}
#head a{
    text-decoration: none;
}
#head a:hover{
    color: white;
    border: solid 3px white;
    border-radius: 20px;
}
#button-play{
    margin-top: 270px;
    line-height: 30px;
    font-size: 30px;
    color: black;
    border: solid 3px black;
    border-radius: 20px;
    display: inline-block;
    margin-left: 410px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
}
#button-exit{
    margin-top: 280px;
    line-height: 30px;
    font-size: 30px;
    color: black;
    border: solid 3px black;
    border-radius: 20px;
    display: inline-block;
    margin-left: 415px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
}

#timer{
    margin-top: 260px;
    line-height: 30px;
    font-size: 30px;
    color: black;
    border: solid 3px black;
    border-radius: 20px;
    display: inline-block;
    margin-left: 410px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    display: none;
}
#bottom{
    width: 100%;
    height: 30px;
    background: black;
    margin-top: 450px;
    position: absolute;
}
#bloc-home{
    background: black;
    width: 30px;
    height: 30px;
    position: absolute;
    -webkit-animation:
        move-bloc 4s linear infinite;
}
/* Game */

#game{
    width: 70%;
    height: 250px;
    background: -webkit-linear-gradient(top,#4c8ca7, #f96e69);
    position: absolute;
    margin-top: 150px;
    margin-left: 200px;
    display: none;
    border: solid 3px white;
}
#road{
    position: absolute;
    background: black;
    width: 100%;
    height: 10px;
    margin-top: 240px;
}

#score{
    float: right;
    font-size: 40px;
    font-weight: bold;
    margin-right: 40px;
    margin-top: 30px;
    font-family: 'game';
}

.bloc{
    position: absolute;
    background: black;
    opacity: 0;
    width: 40px;
    height: 40px;
    left: 100%;
    
    -webkit-transition: width .5s ease-in, height .5s ease-in;
}
#game-over{
    font-family: 'game';
    font-size: 40px;
    font-weight: 100;
    margin-left: 340px;
    margin-top: 50px;
    position: absolute;
    display: none;
    border: solid 2px black;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-animation:
        game-over 2s linear infinite;
}
#restart{
    font-family: 'game';
    font-size: 40px;
    font-weight: 100;
    margin-left: 375px;
    margin-top: 110px;
    position: absolute;
    text-decoration: none;
    color: black;
    display: none;
}
#restart:hover{
    color: white;
}
#exit{
    font-family: 'game';
    font-size: 40px;
    font-weight: 100;
    margin-left: 415px;
    margin-top: 170px;
    position: absolute;
    text-decoration: none;
    color: black;
    display: none;
}
#exit:hover{
    color: white;
}

.bloc-1{
    -webkit-animation: move-bloc1 4s linear infinite;
}
.bloc-2{
    -webkit-animation: move-bloc1 4s 1s linear infinite;
}
.bloc-3{
    -webkit-animation: move-bloc1 4s 2s linear infinite;
}
.bloc-4{
    -webkit-animation: move-bloc1 4s 3s linear infinite;
}


/* Animation Home */

@-webkit-keyframes move-bloc{
    0% { opacity: 0; top: 440px; left: 99%}
    7% {opacity: 1 ; top: 440px; left: 94%}
    10% {top: 440px; left: 89%}
    20% {top: 440px; left: 79%}
    30% {top: 440px; left: 69%}
    40% {top: 440px; left: 59%}
    50% {top: 440px; left: 49%}
    60% {top: 440px; left: 39%}
    70% {top: 440px; left: 29%}
    80% {top: 440px; left: 19%}
    90% {top: 440px; left: 9%}
    100% {top: 440px; left: -1%}
}

/* Animation Game */

@-webkit-keyframes move-bloc1{
    0% {opacity: 1; bottom: 10px; left: 100%}
    10% {opacity: 1; bottom: 10px; left: 90%}
    20% {opacity: 1; bottom: 10px; left: 80%}
    30% {opacity: 1; bottom: 10px; left: 70%}
    40% {opacity: 1; bottom: 10px; left: 60%}
    50% {opacity: 1; bottom: 10px; left: 50%}
    60% {opacity: 1; bottom: 10px; left: 40%}
    70% {opacity: 1; bottom: 10px; left: 30%}
    80% {opacity: 1; bottom: 10px; left: 20%}
    90% {opacity: 1; bottom: 10px; left: 10%}
    100% {opacity: 1; bottom: 10px; left: 0%}
}

@-webkit-keyframes game-over{
    0%{color: red}
    50%{color: blue}
    100%{color: red}
}