body{
    position: relative;
}
#stickman{
    background: url(../Image/Stickman1.png) no-repeat;
    background-size: contain;
    width: 60px;
    height: 80px;
    margin-top: 352px;
    margin-left: 50px;
    position: absolute;
    -webkit-animation: 
        stickman-run .30s linear infinite,
        jump-stickman 4s linear infinite;
}
#stickman1{
    background: url(../Image/Stickman1.png) no-repeat;
    background-size: contain;
    width: 60px;
    height: 80px;
    top: 165px;
    left: 50px;
    position: absolute;
    -webkit-animation: 
        stickman-run .30s linear infinite;
    -webkit-transition: top .3s linear;
}

/* Animation */

@-webkit-keyframes stickman-run{
    0%{ 
        opacity: 1; 
        background: url(../Image/Stickman1.png) no-repeat;
        background-size: contain;
    }
    10%{
        opacity: 1; 
        background: url(../Image/Stickman2.png) no-repeat;
        background-size: contain;
    }
    20%{
        opacity: 1; 
        background: url(../Image/Stickman3.png) no-repeat;
        background-size: contain;
    }
    30%{
        opacity: 1; 
        background: url(../Image/Stickman4.png) no-repeat;
        background-size: contain;
    }
    40%{
        opacity: 1; 
        background: url(../Image/Stickman5.png) no-repeat;
        background-size: contain;
    }
    50%{
        opacity: 1; 
        background: url(../Image/Stickman6.png) no-repeat;
        background-size: contain;
    }
    60%{
        opacity: 1; 
        background: url(../Image/Stickman7.png) no-repeat;
        background-size: contain;
    }
    70%{
        opacity: 1; 
        background:url(../Image/Stickman8.png) no-repeat;
        background-size: contain;
    }
    80%{
        opacity: 1;
        background: url(../Image/Stickman9.png) no-repeat;
        background-size: contain;
    }
    90%{ 
        opacity: 1; 
        background: url(../Image/Stickman1.png) no-repeat;
        background-size: contain;
    }
    100%{
        opacity: 1; 
        background: url(../Image/Stickman2.png) no-repeat;
        background-size: contain;
    }
}

@-webkit-keyframes jump-stickman{
    0% {margin-top: 372px;}
    10% {margin-top: 372px;}
    20% {margin-top: 372px;}
    30% {margin-top: 372px;}
    40% {margin-top: 372px;}
    50% {margin-top: 372px;}
    60% {margin-top: 372px;}
    70% {margin-top: 372px;}
    80% {margin-top: 372px;}
    90% {margin-top: 330px;}
    100% {margin-top: 372px;}
}